
header{
    background-color:#274e31;
    height:100px;
}

.center_text{
    text-align:center;
}

.regi{
    color:#274e32;
    font-size:30px;
    font-family: 'Poller One', cursive;
    margin-top:0px;
    margin-bottom:50px;
}


body {
    margin: 0px;
    background-color: #A4A4A4;
}

.title{
    font-size :55px;
    color:#23da8e;
    font-family: 'Poller One', cursive;
}

.content{
    background-color: #b6c7bb;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 1000px;
    height:700px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3)
}

footer{
    background-color:black;
    height:40px;
}
.footer{
    line-height:40px;
    color:#99b19e;
    font-size:16px;
    font-family: 'Hind', sans-serif;
    margin:0;
}
